<div
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50"
>
  <div
    class="bg-white dark:bg-mediumGray rounded-xl shadow-lg w-full max-w-lg p-8 mx-auto"
  >
    <div class="flex justify-between items-center">
      <h2 class="text-xl font-semibold text-black dark:text-white">
        Add New Board
      </h2>
      <button
        (click)="cancel()"
        class="text-lightGray dark:text-borderForm dark:hover:border-black dark:border-white font-bold border border-borderForm hover:border-softGray duration-300 transition-all ease-in rounded-full p-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>

    <div class="mt-4">
      <form [formGroup]="form">
        <div class="mb-4 relative">
          <label
            for="name"
            class="block text-base font-medium text-softGray dark:text-white"
            >Name</label
          >
          <input
            id="name"
            formControlName="name"
            type="text"
            placeholder="e.g., Web Design"
            class="mt-1 p-3 bg-transparent block w-full dark:border-[#414552] border border-borderForm rounded-md shadow-sm focus:outline-none focus:ring-primaryLight focus:border-primaryLight placeholder:text-sm placeholder:text-placeholder dark:placeholder:text-[#606169]"
          />
          <div
            *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
            class="text-red text-xs mt-1 absolute bottom-4 right-4"
          >
            Name is required
          </div>
        </div>

        <div class="mb-4">
          <label
            class="block text-base font-medium text-softGray dark:text-white"
            >Columns</label
          >

          <div
            formArrayName="columns"
            class="flex flex-col items-center mt-4 gap-2"
          >
            <div
              *ngFor="let column of columns.controls; let i = index"
              [formGroupName]="i"
              class="w-full"
            >
              <input
                formControlName="name"
                placeholder="e.g., Doing"
                class="p-3 block bg-transparent dark:border-[#414552] w-full border border-borderForm rounded-md shadow-sm focus:outline-none focus:ring-primaryLight focus:border-primaryLight placeholder:text-placeholder placeholder:text-sm dark:placeholder:text-[#606169]"
              />
              <div
                *ngIf="
                  column.get('name')?.invalid && column.get('name')?.touched
                "
                class="text-red text-xs mt-1"
              >
                Column is required
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="mt-6 flex justify-end space-x-4 w-full">
      <button
        type="button"
        class="bg-primary text-white px-4 py-3 rounded-full shadow w-full"
        (click)="createNew()"
      >
        Create New Board
      </button>
    </div>
  </div>
</div>
