<div class="space-y-3">
  <div
    *ngFor="let task of tasks"
    class="my-3 bg-white dark:bg-mediumGray p-4 rounded-lg shadow-md"
  >
    <button
      class="text-start text-black dark:text-white font-semibold dark:hover:text-primary text-base hover:text-primary duration-300 transition-all ease-in"
      (click)="openModal(task)"
    >
      {{ task.title }}
    </button>

    <p class="font-semibold text-softGray text-base mt-2">
      {{ getCompletedSubtasksCount(task.subtasks) }} of
      {{ task.subtasks.length }} subtasks
    </p>
  </div>
</div>

<!-- Modal Component -->
<app-task-display
  [tasks]="selectedTask ? [selectedTask] : []"
  [isVisible]="isModalVisible"
  (closeModal)="closeModal()"
></app-task-display>
