<div
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
>
  <div
    class="bg-white dark:bg-mediumGray rounded-xl shadow-lg w-full max-w-lg p-8 mx-auto"
  >
    <div class="flex justify-between items-center">
      <h2 class="text-xl font-semibold text-black dark:text-white">
        Add New Task
      </h2>
      <button
        (click)="cancel()"
        class="text-lightGray dark:text-borderForm dark:hover:border-black dark:border-white font-bold border border-borderForm hover:border-softGray duration-300 transition-all ease-in rounded-full p-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>

    <div class="mt-4">
      <form [formGroup]="form">
        <div class="mb-4 relative">
          <label
            for="title"
            class="block text-base font-medium text-softGray dark:text-white"
            >Title</label
          >
          <input
            id="title"
            formControlName="title"
            type="text"
            placeholder="eg: Take coffee break"
            class="mt-1 p-3 dark:text-white bg-transparent block w-full dark:border-[#414552] border border-borderForm rounded-md shadow-sm focus:outline-none focus:ring-primaryLight focus:border-primaryLight placeholder:text-sm placeholder:text-placeholder dark:placeholder:text-[#606169]"
          />
          <div
            *ngIf="form.get('title')?.invalid && form.get('title')?.touched"
            class="text-red text-xs mt-1 absolute right-4 bottom-4"
          >
            Title is required
          </div>
        </div>

        <div class="mb-4 relative">
          <label
            for="description"
            class="block text-base font-medium text-softGray dark:text-white"
            >Description</label
          >
          <textarea
            id="description"
            formControlName="description"
            placeholder="eg:It’s always good to take a break. This 15 minute break will 
            recharge the batteries a little."
            rows="5"
            class="mt-1 dark:text-white p-3 bg-transparent dark:border-[#414552] block w-full border border-borderForm rounded-md shadow-sm focus:outline-none focus:ring-primaryLight focus:border-primaryLight placeholder:text-placeholder placeholder:text-sm dark:placeholder:text-[#606169]"
          ></textarea>
          <div
            *ngIf="form.get('status')?.invalid && form.get('status')?.touched"
            class="text-red text-xs mt-1 absolute right-6 top-16"
          >
            Description is required
          </div>
        </div>

        <div formArrayName="subtasks">
          <div
            *ngFor="let subtask of subtasks.controls; let i = index"
            class="flex items-center space-x-2 mb-3 mt-4"
          >
            <input
              [formControlName]="i"
              [placeholder]="
                i ? 'e.g., Drink Coffee & Smile ' : 'e.g., Make Coffee'
              "
              [disabled]="i < 2"
              class="p-3 dark:text-white block bg-transparent dark:border-[#414552] w-full border border-borderForm rounded-md shadow-sm focus:outline-none focus:ring-primaryLight focus:border-primaryLight placeholder:text-placeholder placeholder:text-sm dark:placeholder:text-[#606169]"
            />
            <div
              *ngIf="subtasks.at(i)?.invalid && subtasks.at(i)?.touched"
              class="text-red text-xs mt-1 absolute right-12"
            >
              Subtask can't be empty
            </div>
            <button
              type="button"
              *ngIf="i >= 2"
              (click)="removeSubtask(i)"
              class="text-softGray font-extrabold hover:text-red duration-300 transition-all ease-in"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
        </div>

        <div class="mb-4 relative">
          <label
            for="selectedColumn"
            class="block text-base font-medium text-softGray dark:text-white"
          >
            Column
          </label>
          <select
            id="selectedColumn"
            formControlName="selectedColumn"
            class="mt-1 p-3 dark:text-white bg-white dark:bg-darkGray block w-full dark:border-[#414552] border border-borderForm rounded-md shadow-sm focus:outline-none focus:ring-primaryLight focus:border-primaryLight"
            (change)="onStatusChange($event)"
          >
            <option *ngFor="let column of columns" [value]="column.name">
              {{ column.name }}
            </option>
          </select>

          <div
            *ngIf="
              form.get('selectedColumn')?.invalid &&
              form.get('selectedColumn')?.touched
            "
            class="text-red text-xs mt-1 absolute right-4 bottom-4"
          >
            Column is required
          </div>
        </div>
      </form>
    </div>

    <div class="mt-6 flex justify-end space-x-4 w-full">
      <button
        type="button"
        class="bg-primary text-white px-4 py-3 rounded-full shadow w-full"
        (click)="saveChanges()"
      >
        Save Changes
      </button>
    </div>
  </div>
</div>
